$body-color: #1c1c1c;
$primary: #bc1616;
$dark: $body-color;

$font-size-base: 1.25rem;
$font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;
$headings-font-weight: bold;

$border-radius: 0;
$btn-padding-x: 35px;
$btn-padding-y: 25px;