.btn {
  display: inline-flex;
  align-items: center;

  svg {
    transition: 0.35s;
  }

  &-transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(#fff, 0.35);

    &:hover {
      border-color: rgba(#fff, 0.65);
    }

    svg {
      fill: #fff;
    }
  }

  &-dark {
    svg {
      fill: #fff;
    }
  }

  &-arrow {
    &-right {
      svg {
        margin-left: 10px;
      }

      &:hover {
        svg {
          transform: translateX(10px);
        }
      }
    }
  }
}