.section-about {
  background-color: #ebebeb;

  .container {
    position: relative;
    z-index: 5;
  }

  &::after {
    position: absolute;
    width: 300px;
    left: 70%;
    bottom: 0;
    top: -50px;
    content: '';
    background-color: $primary;
    transform: skewX(-15deg);
  }
}