.section-quote {
  background-color: $primary;
  color: #fff;

  .container {
    position: relative;
    z-index: 5;
  }

  .quote {
    @extend .h2;
    @extend .text-uppercase;
  }

  .dashes {
    width: 200px;

    path {
      fill: none;
      stroke: #fff;
      stroke-width: 5px;
      stroke-dasharray: 12, 10;
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 300px;
    }
  }

  .main-photo {
    position: absolute;
    height: 100%;
    background: url('/images/Levitas.jpg') 50% 50% / cover no-repeat;
    z-index: 4;
    top: 0;
    left: 50%;
    width: 50%;
  }
}