.section-quote {
  padding: 300px 0;
  background-color: $primary;
  color: #fff;

  .quote {
    @extend .h2;
    @extend .text-uppercase;
  }

  .dashes {
    width: 200px;

    path {
      fill: none;
      stroke: #fff;
      stroke-width: 5px;
      stroke-dasharray: 12, 10;
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 300px;
    }
  }
}