.section-top {
  padding: 240px 0 120px;
  color: #fff;
  overflow: hidden;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: 200px;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  a {
    color: #fff;
  }

  &::before {
    @extend %abs;
    content: '';
    background-color: #000;
    opacity: 0.3;
    z-index: 2;
  }

  .section-title {
    z-index: 5;
    &::after {
      background-color: #000;
      opacity: 1;
      top: -200px;
    }
  }

  .next-slide-text {
    font-size: 14px;
    opacity: 0.65;
  }
}